services:
  postgres:
    image: postgres:16-alpine
    container_name: mundoedm-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mundoedm
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
